<h3 class="mt-4">Instructors teaching at this University</h3>
<% instructors = @university.programs.flat_map(&:instructors).uniq %>
<% if instructors.any? %>
  <ul class="list-group">
    <% instructors.each do |inst| %>
      <li class="list-group-item"><%= inst.name %> (<%= inst.email %>)</li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info">No instructors found for this university.</div>
<% end %>
