<h3 class="mt-4">Departments</h3>
<% if @university.departments.any? %>
  <ul class="list-group">
    <% @university.departments.each do |d| %>
      <li class="list-group-item"><%= d.name %></li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-warning">No departments found for this university.</div>
<% end %>
